body {
	overflow: hidden;
	color: #FFFFFF;
	background: url("images/rubber_grip.png") repeat;
	font-family: Cabin;
	font-size: 20px;
	text-align: center;
}

.name{
	font-size: 40px;
	width: 100%;
	display: inline-block;
}

.issues-info {
	width: 50%;
	float: right;
}

.list {

	width: 100%;
	float: left;
	margin-top: 20px;

	span {
		float: left;
	}

	hr {
		float: left;
		width: 50%;
		clear: left;
	}

	ul {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			float: left;
			width: 100%;
			//margin: 0 20px 20px 0;

			.issue {
				position: relative;
				float: left;
				font-size: 10px;
				color: #fff;
				
				.header {
					float: left;
					font-size: 12px;
					font-weight: 700;
					text-align: left;
				}

				.description {
					float: left;
					line-height: 17px;
				}

				// background-color: #FFF;
				// color: #000;
				// text-align: left;
				// border: #D2D2D2 2px solid;
				// border-radius: 5px;
				// min-height: 50px;
				// -webkit-box-sizing: border-box;
				// -moz-box-sizing: border-box;
				// box-sizing: border-box;
				// padding: 35px 10px 10px;

				// &:after {
				// 	content: "";
				// 	position: absolute;
				// 	bottom: 0;
				// 	top: -2px;
				// 	left: -2px;
				// 	right: -2px;
				// 	border-top-width: 30px;
				// 	border-top-style: solid;
				// 	border-top-left-radius: 5px;
				// 	border-top-right-radius: 5px;
				// }

				// .header {
				// 	position: absolute;
				// 	top: 8px;
				// 	left: 10px;
				// 	z-index: 2;
				// 	color: #FFF;
				// 	font-size: 12px;
				// 	line-height: 12px;
				// 	font-weight: bold;
				// }

				// .description {
				// 	float: left;
				// 	width: 100%;
				// }

			}

		}
	}

}



